nav {
    display: flex;
    float: right;
    flex-wrap: wrap;
    padding-bottom: .9em;
}

.nav-link {
    padding-right: 1em;
}

.copyright {
    font-size: .7em;
}

.bottom-nav {

}

.share {
    padding-bottom: 1em;
}

.pagination {
    display: inline-block;
}
  
.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
